<h1>Hi, I'm Andy Kahn<br/>A principal JavaScript developer at AOL based in Dulles, VA</h1>
<ul class="List">
    <li>
        <p><span class="u-mHide">Email me </span><a class="RollingLink" href="mailto:andy@andykahn.net"><span data-hover="andy@andykahn.net">andy@andykahn.net</span></a></p>
    </li>
    <li>
        <p><span class="u-mHide">Find out more </span><a class="RollingLink" href="https://github.com/akahn87"><span data-hover="github.com/akahn87">github.com/akahn87</span></a></p>
    </li>
</ul>
<p>I specialise in JavaScript application architecture and testing, project automation, HTML, CSS and creative coding.</p>
<p>I have experience with contemporary frontend technologies such as AngularJS, Backbone + Marionette, Browserify, Webpack and Bash/NPM/Gulp/Grunt for project automation. Also experienced with Node.js-based web apps and REST API development.</p>
<p>I have Agile experience and I'm comfortable working in teams of all sizes at all stages of the project lifecycle from planning through to delivery.</p>
<div class="u-row">
    <div class="u-col u-col2">
        <h2>Recent Highlights</h2>
        <ul class="List">
            {{#each projects}}
            <li>
                <p><a class="RollingLink" href="/project/{{@key}}"><span data-hover="{{title}}">{{title}}</span></a><span class="u-mHide"> {{date}}</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="u-col u-col2">
        <h2>Activity</h2>
        <ul class="List">
            <li>
                <p class="js-github u-hidden"><span class="icon icon-flash"></span>Pushed <a class="js-sha MutedLink"></a> to <a class="js-repo MutedLink"></a> <span class="js-time u-muted"></span></p>
            </li>
            <li>
                <p class="js-lastfm u-hidden"><span class="icon icon-flash"></span>Listen<span class="js-verb-stem"></span> to <a class="js-track MutedLink"></a> by <a class="js-artist MutedLink"></a> <span class="js-time u-muted"></span></p>
            </li>
            <li>
                <p class="js-twitter u-hidden"><span class="icon icon-flash"></span><a class="js-link MutedLink">Tweeted</a> <span class="TweetBodyText js-text"></span> <span class="js-time u-muted"></span></p>
            </li>
        </ul>
    </div>
</div>
<script src="/static/js/index.js"></script>
