<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andy Kahn{{#if subtitle}} | {{subtitle}}{{/if}}</title>
    <meta name="description" content="Portfolio site for Andy Kahn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="SiteWrapper">
        {{{content}}}
        <p class="u-muted u-centred FooterText">Copyright &copy; 2015 Andy Kahn</p>
    </div>
</body>
</html>
